<html>
    <body style="background-image:url(https://up.enterdesk.com/edpic/78/b7/ee/78b7eeb62254ac2b634994d8d4251d69.jpg) ">
            <a href = "/" style= "color: cornflowerblue; font-size: 120%">Home </a><br><br>
            <a href = "/listalltasksw4" style= "color: cornflowerblue; font-size: 120%">List all tasks </a><br><br>
        <form action = "/addthetask" method ="POST"
           style = "font-size: 120%; color:rgb(105, 245, 255)">
          Task Name <input type="text" name= "taskname" /><br><br>
          Task Due  <input type="text" name= "taskdue"/><br><br>
          Task Desc <input type="text" name= "taskdescr"/><br><br>
          <button style= "font-family: Lucida Sans; background-color:rgb(234, 245, 170)">Submit</button>
        </form>
    </body>
</html>