<html>
   <body style="background-color: rgb(168, 248, 166)">

      <img src="logo.png" width="100" height="100">
      <h1 style= "text-align:center;background-color:aquamarine;color:cornflowerblue; font-family:sans-serif" >Task database </h1>
      <br>
      <h3 style= "font-size: 160%">
          <a href = "/addnewtaskw4" style= "color: cornflowerblue" >Add new task </a><br><br>
          <a href = "/listalltasksw4" style= "color:cornflowerblue" >List all tasks</a><br>
      </h3>
   </body>
</html>